@import './helpers/helpers.scss';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 800px;
  height: 80vh;
  margin: 0 20px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primaryBackgroundColor;
    color: #fff;
    padding: 20px 10px;
    border-radius: 8px 8px 0 0;

    h1 {
      font-size: clamp(20px, 5vw, 38px);
      margin:0;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: #333;
  }
}