@import './helpers/helpers.scss';

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 720px;
  height: 100vh;
  margin: 0 auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primaryBackgroundColor;
    color: #fff;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    // z-index: 99;
    // padding: 10px;
    // height: 10vh;
    // min-height: 50px;
    // position: fixed;
    // width: 100%;
    // max-width: 728px;
    // top: 0;
    // align-items: center;
    // box-sizing: border-box;

    h1 {
      margin: 10px;
    }

    img {
      height: 30px;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    // min-height: 100vh;
    background-color: #333;
  }
}