@import './helpers/helpers.scss';

.messageContainer {
  display: flex;
  gap: 10px;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: #fff;
}

.messageText {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primaryBackgroundColor;
  border-radius: 15px;
  color: #333;
  max-width: 50%;
}

.received .messageText {
  background: $secondaryBackgroundColor;
}

.messageText p {
  padding: 10px;
  font-size: clamp(12px, 3vw, 16px);
}

.profileImg {
  width: clamp(30px, 8.5vw, 40px);
  height: clamp(30px, 8.5vw, 40px);
  border-radius: 50%;
}