@import './helpers/helpers.scss';

.messageContainer {
  display: flex;
  
  // justify-content: center;
  // align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.messageText {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primaryBackgroundColor;
  // border-radius: 100px;
  border-radius: 15px;
  color: white;
  max-width: 50%;
  // overflow: hidden;
}

.sent p {
  // align-self: center;
  // align-self: flex-end;
  // padding: 10px;
  // margin: 0;
}
.received .messageText {
  background: $secondaryBackgroundColor;
  // color: #fff;
  // border-radius: 100px;
  // align-self: center;
  // padding: 15px;
  // margin: 0;
}

.messageText p {
  padding: 10px;
}

.profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  // margin: 2px 5px;
}