@import './helpers/helpers.scss';

.chatRoomMain {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background: #000;
}

.chatRoomMain::-webkit-scrollbar {
  width: 0.25rem;
}

.chatRoomMain::-webkit-scrollbar-track {
  background: #1e1e24;
}

.chatRoomMain::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.chatRoomForm {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: #000;
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

.chatRoomInput {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: $secondaryBackgroundColor;
  color: #fff;
  outline: none;
  border: none;
  padding: 0 10px;
  border-radius: 100px;
}

.chatRoomInput::placeholder {
  color: #fff;
}

.chatRoomButton {
  background: $primaryBackgroundColor;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 100px;
}

.chatRoomButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sendMessageIcon {
  width: 30px;
}