@import './helpers/helpers.scss';

.signInContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;

  button {
  color: #fff;
  border-radius: 100px;
  max-width: 400px;
  background: $primaryBackgroundColor;
  border: none;
  padding: clamp(8px, 2.5vw, 15px) clamp(10px, 3.5vw, 30px);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: clamp(10px, 2.5vw, 16px);
  }

  p {
    color: #fff;
    font-size: clamp(10px, 2.5vw, 16px);
  }
}