@import './helpers/helpers.scss';

.signInContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
  color: #fff;
  border-radius: 100px;
  max-width: 400px;
  margin: 0 auto;
  background: $primaryBackgroundColor;
  border: none;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  }

  p {
    color: #fff;
  }
}