@import './helpers/helpers.scss';

.signOut {
  color: #fff;
  border-radius: 100px;
  background-color: #333;
  border: none;
  padding: clamp(6px, 2.5vw, 13px) clamp(10px, 2.5vw, 22px);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: clamp(10px, 2.5vw, 14px);
}